node_modules/
dist/
.bin-build/
/bin/7h3.js
sdk/rust/target/
**/__pycache__/
*.tsbuildinfo
.DS_Store
bench-results/
social/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
